
/* C1. about me formatting */

html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
display: grid;
width: 100vw;
height: auto;
grid-template-columns: 300px auto auto;
grid-template-rows: auto;
grid-gap: 0.5vw;
grid-template-areas:
    "sidebar content-1 content-2"
}

.sidebar {
  grid-area: sidebar;
  display: inline-block;
  width: 280px;
  position: fixed;
}

#sidebar_content {
  max-height: 58vh;
  overflow-y: scroll;
}

.content-1 {
  grid-area: content-1;
  margin-top: 60px;
}

.content-2 {
  grid-area: content-2;
  margin-top: 88px;
  margin-bottom: 100px;
}

.content-2 img {
  max-width: 70%;
}

table img {
  max-width: 25px !important;
  max-height: 25px !important;
}

table {
  width: 65%;
}

/* C2. mobile wrapper */

@media (max-width: 1100px) {

  /* layout */
  
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto;
    grid-template-areas:
        "content-2"
        "content-1"
    }

  .sidebar {
    visibility: hidden;
  }

  #gearlogo {
    visibility: visible;
    position: fixed;
    scale: 45%;
    top: -8px !important;
    left: -15px !important;
  }

  .sidebar_margin {
    visibility: visible;
  }

  /* content wrapping */

  .content-2 {
    width: 400px;
    margin-left: 60px;
  }

  .content-2 img, video {
    min-width: 80%;
  }

  p {
    margin: 0;
  }

  footer {
    visibility: hidden;
  }
}