  /* CSS GRID */

html, body {
  margin: 0;
  padding: 0;
}

.container {
display: grid;
width: 100vw;
height: 100vh;
grid-template-columns: 20vw 66vw;
grid-template-rows: 10vh auto;
grid-gap: 0.5vw;
grid-template-areas:
    "gear header"
    "sidebar content-1"
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content-1 {
  grid-area: content-1;
  max-width: 100%;
  padding-bottom: 50px;
  padding-left: 15px;
}

.sidebar {
  background-color: #dfecec;
  position: fixed;
  height: 100%;
  width: 280px;
  top: 0;
  left: 0;
}

#gearlogo {
  height: 210px;
  width: auto;
  left: 30px;
  top: 53px;
  user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

@media (max-width: 1100px) {
  
  .container {
    grid-template-columns: 100vw;
    grid-template-areas:
        "content-1"
    }

  .sidebar {
    display: none;
  }

  body {
    padding-bottom: 50px;
    padding-left: 0px;
  }

  p {
    margin-left: -15%;
    margin-right: 5%;
  }

  img {
    min-width: 30px;
  }
}