  /* CSS GRID */

html, body {
  margin: 0;
  padding: 0;
}

.container {
display: grid;
width: 100vw;
height: 100vh;
grid-template-columns: 300px 65vw;
grid-template-rows: 4vh 80vh auto;
grid-gap: 0.5vw;
grid-template-areas:
    "gear header"
    "sidebar content-1"
    "sidebar content-2"
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
}

.content-1 {
  grid-area: content-1;
  max-width: 100%;
  margin-left: 20px;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 50px;
}

.content-2 {
  grid-area: content-2;
  padding-left: 50px;
  padding-bottom: 75px;
}

.content-2 img {
  max-width: 70%;
}

.sidebar {
  background-color: #dfecec;
  position: fixed;
  height: 100%;
  width: 280px;
  top: 0;
  left: 0;
}

#gearlogo {
  height: 210px;
  width: auto;
  left: 30px;
  top: 53px;
  user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* content pages mobile wrapper */

@media (max-width: 1100px) {

  /* layout */
  
  .container {
    grid-template-columns: 100vw;
    grid-template-areas:
        "content-1"
        "content-2"
    }

  .sidebar {
    visibility: hidden;
  }

  #gearlogo {
    visibility: visible;
    position: fixed;
    scale: 45%;
    top: -8px !important;
    left: -15px !important;
  }

  .sidebar_margin {
    visibility: visible;
  }

  /* content wrapping */

  body {
    padding-top: 100px;
  }
  
  .content-1 {
    padding-left: 20px;
  }
  
  .content-2 img, video {
    max-width: 50%;
  }
}
