html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
display: grid;
width: 100vw;
height: 100vh;
grid-template-columns: 300px auto;
grid-template-rows: 4vh auto auto auto;
grid-gap: 0.5vw;
grid-template-areas:
    "gear header"
    "sidebar content-1"
    "sidebar title"
    "sidebar content-2"
}

.header {
  grid-area: header;
}

.sidebar {
  grid-area: sidebar;
  position: fixed;
  height: 100%;
  width: 280px;
  top: 0;
  left: 0;
}

body {
  padding-left: 10px;
}

.content-1 {
  grid-area: content-1;
  max-width: 65%;
  margin-top: 53px;
  padding-top: 30px;
}

.title {
  grid-area: title;
  max-height: 10vh;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 40px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}

.content-2 {
  grid-area: content-2;
  padding-left: 50px;
  padding-right: 50px;
  padding-top:20px;
  padding-bottom: 100px;
}

.content-2 img {
  max-width: 70%;
}

table img {
  max-width: 25px !important;
}

#gearlogo {
  height: 210px;
  width: auto;
  left: 30px;
  top: 53px;
  user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* content pages mobile wrapper */

@media (max-width: 1100px) {

  /* layout */
  
  .container {
    grid-template-columns: 100vw;
    grid-template-rows: auto auto auto;
    grid-template-areas:
        "content-1"
        "title"
        "content-2"
    }

  .sidebar {
    visibility: hidden;
  }

  #gearlogo {
    visibility: visible;
    position: fixed;
    scale: 45%;
    top: -8px !important;
    left: -15px !important;
  }

  .sidebar_margin {
    visibility: visible;
  }

  /* content wrapping */

  body {
    padding-top: 100px;
  }
  
  .content-1 {
    padding-top: 50px;
    min-width: 80%;
  }
  
  .content-2 {
    padding-top: 75px;
  }

  .content-2 img, video {
    min-width: 80%;
  }

  p {
    margin: 0;
  }

  footer {
    visibility: hidden;
  }
}
