      
   /* spencer's somewhat mediocore but still kickass stylesheet */
   /* welcome! */

   /* I. GLOBAL */
  
  html, body {
    margin: 0;
    padding: 0;
    overscroll-behavior-y: none;
    overflow-x: initial !important;
    background-color: #eff5f5;
  }
  
  /* II. OTHER STYLES */
  
  body {
    background-color: #eff5f5;
    display: flex;
    justify-content: center;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  }

  h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #333333;
  }
  
  h2 {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 32px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #F6873D;
  }

  h4 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8vw;
    margin: 0;
  }

  h5 {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 1vw;
    font-style: italic;
    font-weight: 50;
    margin: 0;
  }

  p {
    font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 18px;
    margin-right:40%;
    margin-bottom: 25px;
    line-height: 1.5rem;
  }

  img {
    user-select: none;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      -webkit-user-drag: none;
  }

  /* Do not be cheeky and try modifying this global image tag. You will break the website. */

  .content-1 {
    position: block;
    color:black;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 40px;
    padding-bottom: 5px;
  }

  .content-1 img {
    max-width: 100%;
    max-height: 100%;
  }

  .content-2 img {
    margin-bottom: 25px;
    margin-top: 25px;
  }

  #myHeader {
    height: auto;
    width: 50vw;
    position: absolute;
    bottom: 0px;
    user-select: none;
      -moz-user-select: none;
      -webkit-user-drag: none;
      -webkit-user-select: none;
      -ms-user-select: none;
  }

  .body{
    height:2000px;
    margin:5px auto;
    width:100%;
    text-align:center;
    font-size:1.3em;
  }

  #bottom-message{
    color: #1b1b1b;
    position:fixed;
    bottom:20px;
    right:0.5vw;
    font-size: 14px;
  }

  a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: black;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: #F6873D;
    background-color: transparent;
    text-decoration: underline;
  }

  ::selection {
    background: #F6873D; /* WebKit/Blink Browsers */
  }
  ::-moz-selection {
    background: #F6873D; /* Gecko Browsers */
  }

  /* III. TOP CORNER (ASTERISK) */

  .top_corner {
    z-index: 4;
    grid-area: gear;
    position: fixed;
    width: 280px;
  }

  #top_corner_image
  {
    position: relative;
    top: 0;
    left: 0;
    max-width: 100%;
    max-height: 100%;
  }

  .gearlogo_image
  {
    position: absolute;
    height: 225px;
    width: auto;
    top: 44px;
    left: 44px;
  }

  /* IV. SIDEBAR */

  .sidebar {
    background-color: #dfecec;
    display: inline-block;
    height: 100%;
    top: 0;
    left: 0;
  }

  .sidebar_margin {
    z-index: 6;
    position: fixed;
    width: 25px;
    height: 100%;
    background-color: #F6873D;
  }

  #sidebar_content {
    z-index: 2;
    position: relative;
    left: 40px;
    top:300px;
    color: #1a1a1a;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12pt;
    text-align: left;
    width: 80%;
  }

  #sidebar_content img {
    max-width: 25px;
    max-height: auto;
  }

  /* Super important code for the index to work */

  .entry {
    position: absolute;
  }

  /* Custom Font, saving in case I need later becuase this took FOREVER to figure out */ 

  /* @font-face {
    font-family: 'AppleGaramond-Italic';
    src: url('AppleGaramond-Italic.woff2') format('woff2'),
         url('AppleGaramond-Italic.woff') format('woff'),
         url('AppleGaramond-Italic.ttf') format('ttf');
  } */