---
layout: base.njk
title: Spencer Allan
pageType: index
isHomepage: true
description: Spencer Allan is a Chicago-based designer and writer.
galleryHeight: 235
gallery:
  - src: /assets/images/emerson-school/emerson-1.jpg
    alt: ''
    width: 4001
    height: 2251
    scale: 65
    x: 3
    y: 2
    z: 5
    href: /content/emerson/
    tooltip: '"5th Ward School" <em>architecture</em>'
  - src: /assets/images/castelar/castelar-2.png
    alt: ''
    width: 1128
    height: 1442
    scale: 25
    x: 67
    y: 8
    z: 3
    href: /content/edificio-castelar/
    tooltip: '"Edificio Castelar" <em>architecture</em>'
  - src: /assets/images/reliance/facade-B-comp.jpg
    alt: ''
    width: 1360
    height: 2041
    scale: 22
    x: 74
    y: 42
    z: 4
    href: /content/reliance/
    tooltip: '"Reliance" <em>art</em>'
  - src: /assets/images/mca-world-radio/WorldRadio2.jpg
    alt: ''
    width: 2375
    height: 3324
    scale: 26
    x: 3
    y: 43
    z: 2
    href: /content/mca-world-radio/
    tooltip: '"World Radio" <em>art</em>'
  - src: /assets/images/mca-world-radio/demo_cover.gif
    alt: ''
    width: 600
    height: 338
    scale: 35
    x: 30
    y: 42
    z: 6
    href: /content/mca-world-radio/
    tooltip: '"World Radio" <em>art</em>'
  - src: /assets/images/haven/new-cover-haven.png
    alt: ''
    width: 931
    height: 663
    scale: 52
    x: 5
    y: 84
    z: 7
    href: /content/haven/
    tooltip: '"1, 2, 3 House" <em>architecture</em>'
  - src: /assets/images/haven/lasercut.gif
    alt: ''
    width: 406
    height: 720
    scale: 18
    x: 58
    y: 72
    z: 1
    href: /content/haven/
    tooltip: '"1, 2, 3 House" <em>architecture</em>'
  - src: /assets/images/tartan/tartan-1-1.jpg
    alt: ''
    width: 2550
    height: 2550
    scale: 40
    x: 5
    y: 128
    z: 8
    href: /content/tartan-66/
    tooltip: '"Tartan 66" <em>graphic design</em>'
  - src: /assets/images/tartan/tartan-cover-44.jpg
    alt: ''
    width: 1276
    height: 1651
    scale: 28
    x: 45
    y: 110
    z: 9
    href: /content/tartan-67/
    tooltip: '"Tartan Issue 67" <em>graphic design</em>'
  - src: /assets/images/industrial-design-winter/portfolioMockups-31.jpg
    alt: ''
    width: 5113
    height: 3309
    scale: 55
    x: 5
    y: 172
    z: 10
    href: /content/industrial-design/
    tooltip: '"Industrial Design Concepts" <em>industrial design</em>'
  - src: /assets/images/hayward/HaywardLibrary.jpg
    alt: ''
    width: 1600
    height: 1067
    scale: 46
    x: 48
    y: 155
    z: 11
    href: 'https://gbdmagazine.com/noll-tam/'
    external: true
    tooltip: '"Noll &amp; Tam on Libraries" <em>Field Study ↗</em>'
  - src: /assets/images/stanford/stanford-cover-18.jpeg
    alt: ''
    width: 2045
    height: 2590
    scale: 28
    x: 57
    y: 185
    z: 12
    href: /content/untitled-stanford/
    tooltip: '"Untitled Stanford" <em>graphic design</em>'
  - src: '/assets/icons/snake.jpg'
    alt: ''
    width: 800
    height: 600
    scale: 22
    x: 65
    y: 162
    z: 13
    onclick: gameInit()
    tooltip: '"Snake" <em>???</em>'
---
{% from "macros/freeform-gallery.njk" import freeformGallery %}
<div class="content-1">
  <div class="index-gallery">
    {{ freeformGallery(gallery, { height: galleryHeight }) }}
  </div>

  <script>
    function gameInit() {
      scrollToTop(150);
      var app = document.createElement('div');
      app.id = 'app';
      app.className = 'app';
      app.innerHTML = '<canvas></canvas><div class="score">0</div>';
      document.body.appendChild(app);
      snakeGame.init();
    }
  </script>
</div>
