---
layout: base.njk
title: Spencer Allan — About Me
pageType: about
keywords: spencer allan, chicago, northwestern, architecture, design, journalism
---
<div class="content-1">
  <pre>
                        ____
                   .---'-    \
      .-----------/           \
     /           (         ^  |   __
&   (             \        O  /  / .'
'._/(              '-'  (.   (_.' /
     \                    \     ./
      |    |       |    |/ '._.'
       )   @).____\|  @ |
   .  /    /       (    | mrf
  \|, '_:::\  . ..  '_:::\ ..\).

  </pre>
  <p style="text-decoration: underline;">
    <script language="JavaScript" type="text/javascript">
      var part1 = "spencerallan8";
      var part2 = Math.pow(2,6);
      var part3 = String.fromCharCode(part2);
      var part4 = "gmail.com";
      var part5 = part1 + String.fromCharCode(part2) + part4;
      document.write("<a href=" + "mai" + "lto" + ":" + part5 + ">" + part1 + part3 + part4 + "</a>");
    </script><br>
    <a target="_blank" href="https://instagram.com/spencer.allan">instagram</a><br>
    <a target="_blank" href="https://github.com/sirciv">github</a>
  </p>
</div>

<div class="content-2">
  <h4>Who are you?</h4>
  <p class="bio-answer">Spencer Allan.</p>

  <h4>What are you?</h4>
  <p class="bio-answer">A Chicago-based writer and designer.</p>

  <h4>What are you doing?</h4>
  <p class="bio-answer">I currently work at Perkins&amp;Will as a Market Intelligence Strategist, which is a fancy way of saying I solve brand and business problems so the architects can focus on drawing things.</p>

  <h4>Where did you go to school?</h4>
  <p class="bio-answer">I studied Journalism at Northwestern University, with minors in Architectural Engineering Design and Art, Theory, Practice. I was also part of the Segal Design Institute. There, I learned alongside working architects and artists who quietly set me on my current trajectory.</p>

  <h4>What does your work cover?</h4>
  <p class="bio-answer">It lives somewhere between art, engineering, and storytelling. That has included reporting a county election in rural Wisconsin, laser-cutting architectural models, and helping launch a clothing brand with a global clientele. My work has appeared on rare occasion at the Museum of Contemporary Art Chicago and other institutions around the city.</p>

  <h4>Where are you right now?</h4>
  <p class="bio-answer">Probably on the brown line.</p>
</div>
