---
layout: base.njk
title: Spencer Allan — Edificio Castelar Redesign
pageType: content
keywords: ARUP, Northwestern, architecture, Edificio Castelar, spencer allan
---
<div class="project-header">
  <h2>A Sustainable Facade for the Castelar Building</h2>
  <span class="project-year">2019</span>
</div>

<div class="project-body">
  <p>The Castelar Building is one of the modernist icons of Madrid. Built in the mid-70's as Spain was transitioning into a democracy, the building's elegant double glass envelope, travertine cladding, and cantilevering tower gives the entire space a feeling of transparency and weightlessness.</p>
  <p>The goal of this project was to reduce the energy requirements of el Castelar by redeveloping its facade in a sustainable way. Our proposal was developed over a week in the ARUP Madrid offices. It utilizes the Arabic vernacular concept of the mashrabiya, a geometric wood sunshade commonly found in parts of Spain, to create an ornate facade that achieved the environmental mission of the redesign.</p>
  <p>A lot of our research was inspired by field studies in places like Sevilla, Granada, and Segovia. We also drew on the research of architect Aida Shafei, who proposed adapting mashrabiya as a passive cooling solution that also reflects the cultural legacy of its region.</p>
</div>

<div class="project-gallery">
  <div class="pswp-gallery collage-gallery">
    <div class="pswp-gallery__item">
      <a href="/images/castelar/castelar-1.jpg"
         data-pswp-width="574"
         data-pswp-height="850"
         target="_blank">
        <img src="/images/castelar/castelar-1.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/castelar/castelar-3.png"
         data-pswp-width="1122"
         data-pswp-height="760"
         target="_blank">
        <img src="/images/castelar/castelar-3.png" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/castelar/ARUP-1.png"
         data-pswp-width="1500"
         data-pswp-height="1125"
         target="_blank">
        <img src="/images/castelar/ARUP-1.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">The original geometry and shadow study was conducted using Rhino</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/castelar/ARUP-3.jpg"
         data-pswp-width="1500"
         data-pswp-height="1125"
         target="_blank">
        <img src="/images/castelar/ARUP-3.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/castelar/castelar-4.png"
         data-pswp-width="2593"
         data-pswp-height="1728"
         target="_blank">
        <img src="/images/castelar/castelar-4.png" loading="lazy"/>
      </a>
    </div>
  </div>
</div>
