---
layout: base.njk
title: Spencer Allan — Evanston 5th Ward School
pageType: content
keywords: Northwestern, architecture, spencer allan, emerson, evanston
galleryHeight: 205
gallery:
  - src: /assets/images/emerson-school/emerson-1.jpg
    alt: Aerial rendering of the school site
    width: 4001
    height: 2251
    scale: 88
    x: 2
    y: 0
    z: 5
  - src: /assets/images/emerson-school/emerson-33.png
    alt: Exterior rendering
    width: 4100
    height: 2345
    scale: 55
    x: 2
    y: 54
    z: 3
  - src: /assets/images/emerson-school/emerson-37.png
    alt: Exterior rendering 2
    width: 4101
    height: 2345
    scale: 55
    x: 43
    y: 54
    z: 4
  - src: /assets/images/emerson-school/emerson-34.png
    alt: Section drawing
    width: 4100
    height: 2345
    scale: 52
    x: 2
    y: 92
    z: 2
  - src: /assets/images/emerson-school/emerson-29.png
    alt: Floor plan
    width: 2051
    height: 1173
    scale: 45
    x: 50
    y: 92
    z: 6
  - src: /assets/images/emerson-school/emerson-sketch-1.jpg
    alt: Site sketch 1
    width: 3785
    height: 2449
    scale: 50
    x: 5
    y: 127
    z: 7
  - src: /assets/images/emerson-school/emerson-sketch-2.jpg
    alt: Site sketch 2
    width: 1928
    height: 1368
    scale: 40
    x: 52
    y: 122
    z: 1
  - src: /assets/images/emerson-school/emerson-30.png
    alt: Site plan 2
    width: 2050
    height: 1173
    scale: 48
    x: 5
    y: 165
    z: 8
  - src: /assets/images/emerson-school/emerson-35.png
    alt: Interior perspective
    width: 4101
    height: 2345
    scale: 48
    x: 48
    y: 157
    z: 9
---
{% from "macros/freeform-gallery.njk" import freeformGallery %}
<div class="project-header">
  <h2>Designing an Elementary School for Evanston's 5th Ward</h2>
  <span class="project-year">2022</span>
</div>

<div class="project-body">
  <p>The historically segregated 5th Ward of Evanston, Illinois has long experienced injustice compared to its surrounding communities: whether it be an absence of green space, proper water quality testing, or an elementary school to call their own. In February 2022, Evanston/Skokie School District 65 began to examine the possibility of constructing a school for the community. This is my design: a progressive, safe, and environmentally restorative school built in a vacant industrial site on Emerson Street.</p>
  <p>The site was a few blocks from my house. As I walked over, I noticed the remnants of an elevated Pacific Union railway, now overgrown with plant life. It was terrible that one of the only green spaces in the entire community was also completely inaccessible. I wondered if this resource could be utilized to connect the site to the greater Chicago area, as it once had done when it was a railroad. It turned out I wasn't the first person with this idea. The Weber Spur Trail project seeks to transform the viaduct into a walkable park and has already done so for portions of the track further south. I got to work drawing a school design that incorporated the geography of the trail into a broader park that could double as a space for both education and community gathering.</p>
  <p>I created a topographical map of the site and sculpted a circular berm in Revit that would connect to the trail like a lasso. The design of the school itself is organic, a flower growing out of the concrete. Students enter the building through the base of the stem, which contains the administrative offices and auditorium, before proceeding down a gradual ramp to the cafeteria and classrooms located six feet below grade.</p>
  <p>The berm on the south side of the site reaches a height of 15 feet above the school, or 9 feet above grade. This is to provide the extra security and privacy needed due to the adjacent waste treatment plant. The green roof of the school building aligns with the berm and the roof of the entrance buildings, giving the sense that the site is merely a flat prairie with a school slid underneath it.</p>
  <p>The prairie roof structure was designed with consultation from architects at Studio Gang and STL, with additional help from Professor David Corr at Northwestern University's Civil Engineering department.</p>
  <p>Further calculation work was done to ensure that a cross-laminate timber (CLT) structure could support the additional weight of the green roof, and that the surrounding berm could be entirely constructed using material already available on-site. The design of the rotating skylight was generated using an algorithm coded to resemble the Fibonacci sequence that the seeds of a sunflower are arranged in.</p>
  <p>A visit to the progressive Crow Island School in Winnetka inspired the stepped design of the classrooms themselves, which provide plentiful sunlight and views of the outside garden. Each classroom additionally has a reading nook, as well as an exterior door.</p>
  <p>I learned, while designing the school, that a sunflower is not a single organism. Rather, it's a colony of many organisms that work together to synthesize sunlight into sustenance. There could be no better summary for this project: a structure that could sustain and nurture children through both an indoor and outdoor education.</p>
</div>

<div class="project-gallery">
  {{ freeformGallery(gallery, { photoswipe: true, height: galleryHeight }) }}
</div>
