---
layout: base.njk
title: Spencer Allan — The "1, 2, 3" House
pageType: content
keywords: Northwestern, architecture, spencer allan, haven, evanston
---
<div class="project-header">
  <h2>The "1, 2, 3" House and Designing for Privacy</h2>
  <span class="project-year">2026</span>
</div>

<div class="project-body">
  <p>The design of a house for 617 Haven Street in the north Chicago suburb of Evanston, IL represented a significant challenge in maintaining client privacy while maximizing sunlight and usable green space.</p>
  <p>The site is located a block away from Northwestern University's largest academic building. While the views to the south and west were private and tree-covered, the north and east sides of the house were completely exposed to a university parking lot. That lot, plus traffic from nearby Sheridan Road, were major sources of noise pollution and made privacy a significant concern.</p>
  <p>I knew from the first sketch that the house should be a single story, as building it higher would expose it to the major road. I then sorted the rooms into three distinct zones (inspired by the schematics of Chicago architect Bertrand Goldberg). Public areas are potentially visible to the street, such as foyers and the south-facing sunroom. Semi-public areas include the kitchen and dining areas and should be less visible. Finally, private areas like the bedrooms and studies should be completely protected from view.</p>
  <p>To make the house feel larger and break-up sight lines, the house is experienced as "three rotations," where with each rotation the space becomes more private. First, a delayed entrance to the house, with a front door that isn't visible from the street. Second, on entering the foyer, another turn: go right to enter the public-facing sunroom or left to enter the kitchen and dining area. Third, while standing in the kitchen, a choice to either enter the south-side of the private volume with the kids' bedrooms or the north-side with the master suite.</p>
  <p>When architect Larry Booth, principal of Booth Hansen, looked at my final floor plans, he pointed at them with the back of his pen and proclaimed "One, two, three. Works for me!"  The finished "1, 2, 3 House" provides all the amenities expected in a family residence: en-suite bathrooms, a private office, a Chicago-style sunroom, and a generous amount of green-space while preserving privacy on a small and exposed site. ✱</p>
</div>

<div class="project-gallery">
  <div class="pswp-gallery collage-gallery">
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-29.png"
         data-pswp-width="2774"
         data-pswp-height="1944"
         target="_blank">
        <img src="/images/haven/haven-29.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">A floorplan of the house, showing the progression of movement through the public, semi-public, and private spaces. The narrow plot, which was open to an adjacent parking lot, required special consideration when creating the space.</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-11.png"
         data-pswp-width="2999"
         data-pswp-height="1175"
         target="_blank">
        <img src="/images/haven/haven-11.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">Aerial model of the project site, facing southeast</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-46.png"
         data-pswp-width="2124"
         data-pswp-height="1198"
         target="_blank">
        <img src="/images/haven/haven-46.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">Program schematic (Revit)</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/new-elevation.png"
         data-pswp-width="2277"
         data-pswp-height="1328"
         target="_blank">
        <img src="/images/haven/new-elevation.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">Initial project proposal. Because lines of sight were a critical consideration, the house was designed in elevation first.</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-12.png"
         data-pswp-width="2135"
         data-pswp-height="1198"
         target="_blank">
        <img src="/images/haven/haven-12.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">The physical model for the project was laser cut directly from the digital model using a custom written script.</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-solo-08.png"
         data-pswp-width="1320"
         data-pswp-height="959"
         target="_blank">
        <img src="/images/haven/haven-solo-08.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">(1/2) Drawings demonstrating the entry sequence to the house. The interior of the house only reveals itself when someone gets closer to the front door. (Revit)</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-solo-48.png"
         data-pswp-width="1320"
         data-pswp-height="959"
         target="_blank">
        <img src="/images/haven/haven-solo-48.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">(2/2) Drawings demonstrating the entry sequence to the house. The interior of the house only reveals itself when someone gets closer to the front door. (Revit)</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-solo-09.png"
         data-pswp-width="1271"
         data-pswp-height="897"
         target="_blank">
        <img src="/images/haven/haven-solo-09.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">(1/2) Interior renderings of the kitchen and dining spaces. Because the east wall faces a parking lot, sunlight and outdoor space instead comes from an interior courtyard. (Revit)</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/haven/haven-solo-49.png"
         data-pswp-width="1271"
         data-pswp-height="897"
         target="_blank">
        <img src="/images/haven/haven-solo-49.png" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">(2/2) Interior renderings of the kitchen and dining spaces. Because the east wall faces a parking lot, sunlight and outdoor space instead comes from an interior courtyard. (Revit)</div>
    </div>
  </div>
</div>
