---
layout: base.njk
title: Spencer Allan — Industrial Design Concepts
pageType: content
keywords: Holderfield, Segal Design, Northwestern, industrial design, spencer allan
---
<div class="project-header">
  <h2>Industrial Design Concepts</h2>
  <span class="project-year">2026</span>
</div>

<div class="project-body">
  <p>Below are a few of my favorite projects I created at the Segal Design Institute. Most of these ideas were rapidly generated, usually in a couple of hours, based on a list of user needs that were provided to us.</p>
</div>

<div class="project-gallery">
  <div class="pswp-gallery collage-gallery">
    <div class="pswp-gallery__item">
      <a href="/images/industrial-design-winter/portfolio-transparent-31.png"
         data-pswp-width="2178"
         data-pswp-height="1113"
         target="_blank">
        <img src="/images/industrial-design-winter/portfolio-transparent-31.png" alt="Collage of industrial design project ideas" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">A partial collage of project ideas generated over the season</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/industrial-design-winter/portfolioMockups-36.jpg"
         data-pswp-width="2621"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/industrial-design-winter/portfolioMockups-36.jpg" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">Organic design for a campus bus stop</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/industrial-design-winter/portfolioMockups-35.jpg"
         data-pswp-width="2621"
         data-pswp-height="1728"
         target="_blank">
        <img src="/images/industrial-design-winter/portfolioMockups-35.jpg" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">Design for a bag that meant to hold a standard NAQT Quiz Bowl computer</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/industrial-design-winter/portfolioMockups-33.jpg"
         data-pswp-width="2621"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/industrial-design-winter/portfolioMockups-33.jpg" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">Amp-inspired design for a portable Bluetooth speaker</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/industrial-design-winter/portfolioMockups-34.jpg"
         data-pswp-width="2621"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/industrial-design-winter/portfolioMockups-34.jpg" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">Design for a hybrid sneaker/snowshoe</div>
    </div>
  </div>
</div>
