---
layout: base.njk
title: Spencer Allan — Industrial Design Concepts
pageType: content
keywords: Holderfield, Segal Design, Northwestern, industrial design, spencer allan
galleryHeight: 130
gallery:
  - src: /assets/images/industrial-design-winter/portfolio-transparent-31.png
    alt: Collage of industrial design project ideas
    width: 2178
    height: 1113
    scale: 80
    x: 2
    y: 0
    z: 3
    caption: 'A partial collage of project ideas generated over the season'
  - src: /assets/images/industrial-design-winter/portfolioMockups-36.jpg
    alt: Campus bus stop design
    width: 2621
    height: 1651
    scale: 50
    x: 2
    y: 48
    z: 2
    caption: 'Organic design for a campus bus stop'
  - src: /assets/images/industrial-design-winter/portfolioMockups-35.jpg
    alt: Quiz Bowl bag design
    width: 2621
    height: 1728
    scale: 50
    x: 46
    y: 48
    z: 4
    caption: 'Design for a bag that meant to hold a standard NAQT Quiz Bowl computer'
  - src: /assets/images/industrial-design-winter/portfolioMockups-33.jpg
    alt: Bluetooth speaker design
    width: 2621
    height: 1651
    scale: 50
    x: 2
    y: 88
    z: 1
    caption: 'Amp-inspired design for a portable Bluetooth speaker'
  - src: /assets/images/industrial-design-winter/portfolioMockups-34.jpg
    alt: Hybrid sneaker/snowshoe design
    width: 2621
    height: 1651
    scale: 50
    x: 46
    y: 88
    z: 5
    caption: 'Design for a hybrid sneaker/snowshoe'
---
{% from "macros/freeform-gallery.njk" import freeformGallery %}
<div class="project-header">
  <h2>Industrial Design Concepts</h2>
  <span class="project-year">2026</span>
</div>

<div class="project-body">
  <p>Below are a few of my favorite projects I created at the Segal Design Institute. Most of these ideas were rapidly generated, usually in a couple of hours, based on a list of user needs that were provided to us.</p>
</div>

<div class="project-gallery">
  {{ freeformGallery(gallery, { photoswipe: true, height: galleryHeight }) }}
</div>
