---
layout: base.njk
title: Spencer Allan — World Radio
pageType: content
keywords: MCA Chicago, Virgil Abloh, world radio, art, spencer allan
galleryHeight: 100
gallery:
  - src: /assets/images/mca-world-radio/radio-cover-37.jpg
    alt: Array of images showing World Radio, a vintage orange AM radio turned conceptual product.
    width: 2593
    height: 1728
    scale: 65
    x: 0
    y: 0
    z: 2
    caption: 'World Radio, a vintage AM radio turned sculpture and conceptual product.'
  - src: /assets/images/mca-world-radio/WorldRadio2.jpg
    alt: World Radio sculpture detail
    width: 2375
    height: 3324
    scale: 30
    x: 68
    y: 0
    z: 3

---
{% from "macros/freeform-gallery.njk" import freeformGallery %}
<div class="project-header">
  <h2>World Radio c/o Virgil Abloh</h2>
  <span class="project-year">2021</span>
</div>

<div class="project-body">
  <p>I found World Radio in the back of a thrift store in Waco. At the time it was broken and most-definitely-not-worldly, but it would eventually house an idea I had inspired by the AM "border blaster" stations across the Rio Grande.</p>
  <p>A few months later the project caught the attention of Virgil Abloh who featured it in his Figures of Speech career retrospective organized by the Museum of Contemporary Art Chicago. I'm forever grateful to Virgil for this experience and am honored to be a thread in the long fabric of his legacy.</p>
  <p>Here's the original submission text for the project:</p>
  <p>&lt;1: INSPIRATION&gt; When I saw Mr. Abloh's prompt, my mind drifted to a broken transistor radio from the 1950's that I bought from a thrift store. I was captivated by the design, yet, an AM radio didn't have much use in the era of the internet, so I got to work trying to reinterpret the obsolete in modernity.</p>
  <p>&lt;2: PRODUCT&gt; World Radio is the product. It connects to the internet and uses its API to scan for thousands of stations across the world. The tuner doesn't control the frequency, but rather the location, allowing a listener to drop in on random broadcasts from Chicago, Los Angeles, New York, London, Rome, Moscow, and Tokyo with just the turn of a dial.</p>
  <p>&lt;3: CONNECTION&gt; My inspiration for the project came from my habit of tuning in to morning broadcasts of the BBC before I went to bed, using the six hour time difference. I imagined a radio that ignored limitations, uniting the world and its broadcasts. Millions of Americans used to gather around the radios in their living rooms to listen to their local stations— with World Radio the entire planet becomes local.</p>
  <p>&lt;4: INNOVATION&gt; This project deviates my usual work in graphic design. I wanted to acknowledge Mr. Abloh's work in the audio space, as well as the many Chicago artists whose music has had an influence on me. However, the use of retrofitted technology and the exploded, text heavy style of the exterior is quintessential in my projects. My personal logo, the 6-point asterisk, appears four times on the exterior of the radio to represent the four stars of the Chicago flag.</p>
  <p>&lt;5: IMPACT&gt; The internet and social media has connected the world in a truly unique way, yet it sometimes feels like that connection is strained by politics, distance, and difference. I wanted to create a piece of art that connects the universal medium of the radio together, abolishing nation and fostering a shared sense of humanity.</p>
</div>

<div class="project-gallery">
  {{ freeformGallery(gallery, { photoswipe: true, height: galleryHeight }) }}
</div>
