---
layout: base.njk
title: Spencer Allan — Reliance
pageType: content
keywords: reliance building, chicago, architecture, spencer allan
---
<div class="project-header">
  <h2>"Reliance"</h2>
  <span class="project-year">2026</span>
</div>

<div class="project-body">
</div>

<div class="project-gallery">
  <div class="pswp-gallery collage-gallery">
    <div class="pswp-gallery__item">
      <a href="/images/reliance/facade-A-comp.jpg"
         data-pswp-width="1382"
         data-pswp-height="2074"
         target="_blank">
        <img src="/images/reliance/facade-A-comp.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/reliance/facade-B-comp.jpg"
         data-pswp-width="1360"
         data-pswp-height="2041"
         target="_blank">
        <img src="/images/reliance/facade-B-comp.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/reliance/facade-C-comp.jpg"
         data-pswp-width="1360"
         data-pswp-height="2041"
         target="_blank">
        <img src="/images/reliance/facade-C-comp.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/reliance/facade-D-comp.jpg"
         data-pswp-width="1360"
         data-pswp-height="2041"
         target="_blank">
        <img src="/images/reliance/facade-D-comp.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/reliance/facade-E-comp.jpg"
         data-pswp-width="1360"
         data-pswp-height="2041"
         target="_blank">
        <img src="/images/reliance/facade-E-comp.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/reliance/facade-F-comp.jpg"
         data-pswp-width="1360"
         data-pswp-height="2041"
         target="_blank">
        <img src="/images/reliance/facade-F-comp.jpg" loading="lazy"/>
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/reliance/facade-G-comp.jpg"
         data-pswp-width="1360"
         data-pswp-height="2041"
         target="_blank">
        <img src="/images/reliance/facade-G-comp.jpg" loading="lazy"/>
      </a>
    </div>
  </div>
</div>
