---
layout: base.njk
title: Spencer Allan — Tartan Issue 67
pageType: content
keywords: tartan, Highland Park High School, literary magazine, publication, graphic design, Columbia Scholastic Press Association, spencer allan
---
<div class="project-header">
  <h2>Tartan Literary &amp; Arts Magazine Issue 67</h2>
  <span class="project-year">2020</span>
</div>

<div class="project-body">
  <p>This is the third and final issue of the Tartan that I designed as Editor-in-Chief. Completed just before I moved to Chicago, I was thinking a lot at the time about transition, and that became the informal theme of the magazine. The design of the cover "deconstructs" as you flip through the magazine and there is a gradual transition in the design of the spreads from light to dark.</p>
  <p>In this issue, art became just as much a part of the story as the writing (previous issues had been printed mostly in black and white). We pieced together visuals and text that shared a common theme or outlook, the result being an issue that touches on themes like the importance of family, the crises of self-identity, and the beauty of Planet Earth.</p>
  <p>A month after publication, the Tartan was awarded a Silver Crown by the Columbia Scholastic Press Association, one of its highest honors bestowed, for overall excellence.</p>
</div>

<div class="project-gallery">
  <div class="pswp-gallery collage-gallery">
    <div class="pswp-gallery__item">
      <a href="/images/tartan/tartan-covers.png"
         data-pswp-width="3909"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/tartan/tartan-covers.png" alt="Covers of the Tartan Deconstructed" loading="lazy"/>
      </a>
      <div class="pswp-caption-content">The cover of the Tartan is "deconstructed" as you flip through the magazine. This was inspired by the proof marks used by printers in the publication process.</div>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/tartan/tartan_poster.jpg"
         data-pswp-width="757"
         data-pswp-height="982"
         target="_blank">
        <img src="/images/tartan/tartan_poster.jpg" loading="lazy">
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/tartan/new-tartan-17.png"
         data-pswp-width="2551"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/tartan/new-tartan-17.png" loading="lazy">
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/tartan/new-tartan-18.jpg"
         data-pswp-width="2551"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/tartan/new-tartan-18.jpg" loading="lazy">
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/tartan/new-tartan-19.jpg"
         data-pswp-width="2551"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/tartan/new-tartan-19.jpg" loading="lazy">
      </a>
    </div>
    <div class="pswp-gallery__item">
      <a href="/images/tartan/new-tartan-26.jpg"
         data-pswp-width="2551"
         data-pswp-height="1651"
         target="_blank">
        <img src="/images/tartan/new-tartan-26.jpg" loading="lazy">
      </a>
    </div>
  </div>
</div>
